In [1]:
import pandas as pd

#X1 A GRUBU İÇİN : 5.1 -> 4.9  : 0,96 ile çarpımı
#X2 A GRUBU İÇİN : 3.5 -> 3    : 0,85 ile çarpımı
#X3 A GRUBU İÇİN : 1.4 -> 1.4  : AYNI
#X4 A GRUBU İÇİN : 0.2 -> 0.2  : AYNI

        
#X1 B GRUBU İÇİN : 1.42 İLE ÇARPIP GEÇİŞ    : 7 -> 6.4  : 0,91 ile çarpımı
#X2 B GRUBU İÇİN :  1.06 İLE ÇARPIP GEÇİŞ       : 3.2 -> 3.2    : AYNI
#X3 B GRUBU İÇİN :  3.35 İLE ÇARPIP GEÇİŞ               4.7 -> 4.5  : 0,96 ile çarpımı
#X4 B GRUBU İÇİN :   7 İLE ÇARPIP GEÇİŞ          :    1.4 -> 1.5  : 1.07 ile çarpımı


#X1 C GRUBU İÇİN :    0.98 İLE ÇARPIP GEÇİŞ       6.3 -> 5.8  : 0.92 ile çarpımı
#X2 C GRUBU İÇİN :     1.03 İLE ÇARPIP GEÇİŞ      3.3 -> 2.7    : 0.81 ile çarpımı
#X3 C GRUBU İÇİN :     1.33 İLE ÇARPIP GEÇİŞ      6 -> 5.1  : 0.85 ile çarpımı
#X4 C GRUBU İÇİN :     1.66 İLE ÇARPIP GEÇİŞ      2.5 -> 1.9   : 0.76 ile çarpımı

#Y1 = 1.2 + 0.29x1 - 0.16x2 - 1.02x3 +1.43x4
#Y2 = -3.4 + 0.82x1 - 0.2x2 + 0.04x3 - 0.52x4
#Y3 = 3.2 -1.11x1 + 0.35x2 +0.98x3 -0.92x4

X1_A1 = 5
X2_A1 = 3.4
X3_A1 = 1.5
X4_A1 = 0.2

X1_A2 = X1_A1*(0.96)
X2_A2 = X2_A1 * (0.85)
X3_A2 = X3_A1 * (1)
X4_A2 = X4_A1 * (1)

##

X1_B1 = X1_A1 * (1.42)
X2_B1 = X2_A1 * (1.06)
X3_B1 = X3_A1 * (3.35)
X4_B1 = X4_A1 * 7

X1_B2 = X2_B1 * (0.91)
X2_B2 = X2_B1 * (1)
X3_B2 = X2_B1 * (0.96)
X4_B2 = X2_B1 * (1.07)

##

X1_C1 = X1_B2 * (0.98)
X2_C1 = X2_B2 * (1.03)
X3_C1 = X3_B2 * (1.33)
X4_C1 = X4_B2 * (1.66)

X1_C2 = X1_C1 * (0.92)
X2_C2 = X2_C1 * (0.81)
X3_C2 = X3_C1 * (0.85)
X4_C2 = X4_C1 * (0.76)


a = {
    "X1   ": [X1_A1,X1_A2,X1_B1,X1_B2,X1_C1,X1_C2],
     "X2": [X2_A1,X2_A2,X2_B1,X2_B2,X2_C1,X2_C2],
     "X3": [X3_A1, X3_A2,X3_B1,X3_B2,X3_C1,X3_C2],
     "X4": [X4_A1,X4_A2,X4_B1, X4_B2,X4_C1,X4_C2],
     "Y" : ["A", "A","B","B","C","C"]
}

target = "satisfied"
exclude = []

df = pd.DataFrame(a)

df

      X1           X2        X3        X4  Y
0  5.000000  3.400000  1.500000  0.200000  A
1  4.800000  2.890000  1.500000  0.200000  A
2  7.100000  3.604000  5.025000  1.400000  B
3  3.279640  3.604000  3.459840  3.856280  B
4  3.214047  3.712120  4.601587  6.401425  C
5  2.956923  3.006817  3.911349  4.865083  C

In [9]:
import pandas as pd

#X1 A GRUBU İÇİN : 5.1 -> 4.9  : 0,96 ile çarpımı
#X2 A GRUBU İÇİN : 3.5 -> 3    : 0,85 ile çarpımı
#X3 A GRUBU İÇİN : 1.4 -> 1.4  : AYNI
#X4 A GRUBU İÇİN : 0.2 -> 0.2  : AYNI

        
#X1 B GRUBU İÇİN : 1.42 İLE ÇARPIP GEÇİŞ    : 7 -> 6.4  : 0,91 ile çarpımı
#X2 B GRUBU İÇİN :  1.06 İLE ÇARPIP GEÇİŞ       : 3.2 -> 3.2    : AYNI
#X3 B GRUBU İÇİN :  3.35 İLE ÇARPIP GEÇİŞ               4.7 -> 4.5  : 0,96 ile çarpımı
#X4 B GRUBU İÇİN :   7 İLE ÇARPIP GEÇİŞ          :    1.4 -> 1.5  : 1.07 ile çarpımı


#X1 C GRUBU İÇİN :    0.98 İLE ÇARPIP GEÇİŞ       6.3 -> 5.8  : 0.92 ile çarpımı
#X2 C GRUBU İÇİN :     1.03 İLE ÇARPIP GEÇİŞ      3.3 -> 2.7    : 0.81 ile çarpımı
#X3 C GRUBU İÇİN :     1.33 İLE ÇARPIP GEÇİŞ      6 -> 5.1  : 0.85 ile çarpımı
#X4 C GRUBU İÇİN :     1.66 İLE ÇARPIP GEÇİŞ      2.5 -> 1.9   : 0.76 ile çarpımı

#Y1 = 1.2 + 0.29x1 - 0.16x2 - 1.02x3 +1.43x4
#Y2 = -3.4 + 0.82x1 - 0.2x2 + 0.04x3 - 0.52x4
#Y3 = 3.2 -1.11x1 + 0.35x2 +0.98x3 -0.92x4


Y1_A1 = 1.2 + 0.29*X1_A1 - 0.16*X2_A1 - 1.02*X3_A1 +1.43*X4_A1
Y1_A2 = 1.2 + 0.29*X1_A2 - 0.16*X2_A2 - 1.02*X3_A2 +1.43*X4_A2
Y1_B1 = 1.2 + 0.29*X1_B1 - 0.16*X2_B1 - 1.02*X3_B1 +1.43*X4_B1
Y1_B2 = 1.2 + 0.29*X1_B2 - 0.16*X2_B2 - 1.02*X3_B2 +1.43*X4_B2
Y1_C1 = 1.2 + 0.29*X1_C1 - 0.16*X2_C1 - 1.02*X3_C1 +1.43*X4_C1
Y1_C2 = 1.2 + 0.29*X1_C2 - 0.16*X2_C2 - 1.02*X3_C2 +1.43*X4_C2

Y2_A1 = -3.4 + 0.82*X1_A1 - 0.2*X2_A1 + 0.04*X3_A1 - 0.52*X4_A1
Y2_A2 = -3.4 + 0.82*X1_A2 - 0.2*X2_A2 + 0.04*X3_A2 - 0.52*X4_A2
Y2_B1 = -3.4 + 0.82*X1_B1 - 0.2*X2_B1 + 0.04*X3_B1 - 0.52*X4_B1
Y2_B2 = -3.4 + 0.82*X1_B2 - 0.2*X2_B2 + 0.04*X3_B2 - 0.52*X4_B2
Y2_C1 = -3.4 + 0.82*X1_C1 - 0.2*X2_C1 + 0.04*X3_C1 - 0.52*X4_C1
Y2_C2 = -3.4 + 0.82*X1_C2 - 0.2*X2_C2 + 0.04*X3_C2 - 0.52*X4_C2

Y3_A1 = 3.2 -1.11*X1_A1 + 0.35*X2_A1 +0.98*X3_A1 -0.92*X4_A1
Y3_A2 = 3.2 -1.11*X1_A2 + 0.35*X2_A2 +0.98*X3_A2 -0.92*X4_A2
Y3_B1 = 3.2 -1.11*X1_B1 + 0.35*X2_B1 +0.98*X3_B1 -0.92*X4_B1
Y3_B2 = 3.2 -1.11*X1_B2 + 0.35*X2_B2 +0.98*X3_B2 -0.92*X4_B2
Y3_C1 = 3.2 -1.11*X1_C1 + 0.35*X2_C1 +0.98*X3_C1 -0.92*X4_C1
Y3_C2 = 3.2 -1.11*X1_C2 + 0.35*X2_C2 +0.98*X3_C2 -0.92*X4_C2

a = {
     "Y" : ["A", "A","B","B","C","C"],
     "Y1": [round(Y1_A1),round(Y1_A2),round(Y1_B1),round(Y1_B2),round(Y1_C1),round(Y1_C2)],
     "Y2": [round(Y2_A1),round(Y2_A2),round(Y2_B1),round(Y2_B2),round(Y2_C1),round(Y2_C2)],
     "Y3": [round(Y3_A1),round(Y3_A2),round(Y3_B1),round(Y3_B2),round(Y3_C1),round(Y3_C2)]
}

target = "satisfied"
exclude = []

df = pd.DataFrame(a)

df

   Y  Y1  Y2  Y3
0  A   1   0   0
1  A   1   0   0
2  B   0   1   0
3  B   4  -3   1
4  C   6  -5   0
5  C   5  -4   0